.about{
    
    margin-top:-290px;
    margin-left:550px ;
    margin-bottom:0px ;
    margin-right: 100px;
}

.photo{
    margin-top:-200px;
    margin-left:0px ;
    margin-bottom:0px ;
    margin-right: 0px; 
   
}

.about_me{
   
    margin-top: 50px;
    margin-left:550px ;
    margin-bottom:100px ;
    margin-right: 100px;
    
}


.tittle{
    
    margin-top: -100px;
    margin-left:20px ;
    margin-bottom:0px ;
    margin-right: 800px;
}

.work{
    
}

.end{
    
}